Package: ni-opc-ua-addon-{veristand_version}
Version: {nipkg_version}
Architecture: windows_all
Maintainer: National Instruments <support@ni.com>
XB-Plugin: file
Description:  The OPC UA Client Addon supports connecting to any OPC UA server from Windows or Pharlap. It supports auto-discovery of tags for easy configuration as well as CSV import for offline configuration. It supports all data types and arrays of data types except strings. You can set up any number of poll rates for groups of channels. This allows for slow updates on the majority of tags with quick updates on critical tags. Read, write, and read/write tags are supported. Basic status information is also provided for the tag quality and OPC connection.
XB-Eula:  
Priority: standard
Homepage: http://www.ni.com
XB-LanguageSupport: en
XB-UserVisible: yes
Section: Add-Ons
XB-DisplayVersion: {nipkg_version}
XB-DisplayName: OPC UA Addon for VeriStand {veristand_version}
XB-Message: Copyright 2020 National Instruments
  Licensed under the Apache License, Version 2.0 (the "License"); You may not use this file except in compliance with the License.
  You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and limitations under the License.
Depends: 
